.pixel {font-family: 'Public Pixel', sans-serif;
    color: white;
}

.pixelNav {font-family: 'Public Pixel', sans-serif;
    color: #7dc7da;
    font-size: 80%;
}


.currentNav {font-family: 'Public Pixel', sans-serif;
    color: white;
    font-size: 80%;
}

.pixelNavName {font-family: 'Public Pixel', sans-serif;
    color: white;
    font-size: 80%;
}
.pixelName {font-family: 'Public Pixel', sans-serif;
    color: #639342;
}

.pixelPos {font-family: 'Public Pixel', sans-serif;
    color: #7dc7da;
    font-size: 80%;
}

.pixelTitle{font-family: 'Public Pixel', sans-serif;
    color: white;
}

.workTitle {
    color: #3f83ae;
}

.workDate {
    color: #7dc7da;
}

.noPadding {
    
    padding: 0;
}

.side {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #1f1f1f;
}

body {
    background-color: #1f1f1f;
}

.animation{
    margin: auto;
    color: #7dc7da;
  }

.portfolioName{font-family: 'Public Pixel', sans-serif;
    color: #7dc7da;
}

.wordHolder{
    margin: auto;
    color: white;
    font-family: 'Public Pixel', sans-serif;
  }

.introHolder{
    padding-top: 10%;
    padding-bottom: 10%;
}

.pixelNav:hover {
    color: white;
}

.pixelNavName:hover {
    color: #7dc7da;
}

.borderColor {
    border-color: #b98773;
}

.cardWidth {
    width: 100%;
}

.aboutMeName {
    color: #fdd54f;
}

.achievementBG{
    background-image: url(achievementMedal.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mailBG{
    background-image: url(mail.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bayaniBG{
    background-image: url(bayani.png);
    background-repeat: no-repeat;
    background-position: center;
}

.inventoryBG{
    background-image: url(inventory.png);
    background-repeat: no-repeat;
    background-position: center;
}

.constructionBG{
    background-image: url(consWeb.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sneakerBG{
    background-image: url(sneaker.png);
    background-repeat: no-repeat;
    background-position: center;
}

.landingHolder{
    padding-top: 25%;
    padding-bottom: 25%;
}


.sublandingHolder{
    padding-top: 10%;
    padding-bottom: 10%;
}

.portfolioHeader{
    padding-top: 5%;
    padding-bottom: 10%;
}
.portfolioHolder{
    padding-top: 10%;
}

.drive{
    padding: 5%;
}

.spacer {
    padding-bottom: 5%;
}

